@import "../../_globalColor";

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 2rem;
}

.skills-left-div,
.skills-right-div {
  flex: 1;
  margin-bottom: 30px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.subTitle {
  color: $subTitle;
}

.skills-text-subtitle {
  margin-bottom: 1.5rem;
}

.skills-bar {
  width: 100%;
}

.skill {
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}

.skills-text {
  margin-bottom: 0.75rem;
}

@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-main-div {
    flex-direction: column;
  }
  .skills-left-div,
  .skills-right-div {
    margin: 0;
  }
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .skills-text {
    font-size: 16px;
  }
}
